/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-jupiter-7d41 {
  --brandAColorForegroundNeutralFaded: hsl(223%, 15%, 44%);
  --brandAColorForegroundPlaceholder: hsl(220%, 9%, 54%);
  --brandAColorBackgroundNeutralHighlighted: hsla(224%, 62%, 25%, 0.08);
  --brandAColorBackgroundPageFaded: hsl(0%, 0%, 98%);
  --brandAColorBackgroundCritical: hsl(0%, 76%, 53%);
  --brandAColorBackgroundPositive: hsl(152%, 78%, 30%);
  --brandAColorBackgroundBlur: hsla(0%, 0%, 100%, 0.95);
  --brandAColorBackgroundBlurNeutral: hsla(220%, 16%, 96%, 0.95);
  --brandAColorBackgroundBlurNeutralHighlighted: hsla(225%, 12%, 93%, 0.95);
  --brandAColorBorderNeutralFaded: hsl(223%, 23%, 94%);
  --brandAColorBorderCriticalFaded: hsl(355%, 82%, 91%);
  --brandAColorBorderPositiveFaded: hsl(135%, 47%, 87%);
  --brandAColorBorderUpgradeFaded: hsl(255%, 75%, 92%);
  --brandAColorBorderDisabled: hsl(225%, 21%, 90%);
  --brandAColorBorderFocus: hsl(218%, 100%, 64%);
  --brandAColorDecorativeCyanForeground: hsl(193%, 82%, 31%);
  --brandAColorDecorativeCyanBackground: hsl(184%, 95%, 92%);
  --brandAColorDecorativeCyanBorder: hsl(184%, 73%, 84%);
  --brandAColorDecorativeFuchsiaForeground: hsl(293%, 69%, 47%);
  --brandAColorDecorativeFuchsiaBackground: hsl(288%, 100%, 97%);
  --brandAColorDecorativeFuchsiaBorder: hsl(290%, 75%, 92%);
  --brandAColorDecorativeGreenBorder: hsl(155%, 83%, 86%);
  --brandAColorDecorativeGreyForeground: hsl(230%, 15%, 36%);
  --brandAColorDecorativeGreyBackground: hsl(220%, 20%, 94%);
  --brandAColorDecorativeGreyBorder: hsl(222%, 20%, 90%);
  --brandAColorDecorativeLightGreyForeground: hsl(226%, 15%, 48%);
  --brandAColorDecorativeLightGreyBackground: hsl(218%, 19%, 97%);
  --brandAColorDecorativeLightGreyBorder: hsl(220%, 20%, 94%);
  --brandAColorDecorativeOrangeForeground: hsl(17%, 88%, 40%);
  --brandAColorDecorativeOrangeBackground: hsl(34%, 100%, 94%);
  --brandAColorDecorativeOrangeBorder: hsl(35%, 85%, 89%);
  --brandAColorDecorativePinkForeground: hsl(333%, 71%, 48%);
  --brandAColorDecorativePinkBackground: hsl(327%, 76%, 97%);
  --brandAColorDecorativePurpleBorder: hsl(256%, 100%, 95%);
  --brandAColorDecorativePinkBorder: hsl(327%, 100%, 95%);
  --brandAColorDecorativeRedBorder: hsl(357%, 100%, 96%);
  --brandAColorDecorativeTealForeground: hsl(175%, 77%, 27%);
  --brandAColorDecorativeTealBackground: hsl(166%, 100%, 94%);
  --brandAColorDecorativeTealBorder: hsl(166%, 76%, 89%);
  --brandAColorDecorativeYellowForeground: hsl(35%, 92%, 33%);
  --brandAColorDecorativeYellowBackground: hsl(55%, 100%, 95%);
  --brandAColorDecorativeYellowBorder: hsl(55%, 97%, 88%);
  --brandAColorPrimaryPrimary200: hsl(213%, 100%, 96%);
  --brandAColorPrimaryPrimary400: hsl(217%, 100%, 91%);
  --brandAColorPrimaryPrimary500: hsl(219%, 100%, 77%);
  --brandAColorPrimaryPrimary600: hsl(219%, 99%, 53%);
  --brandAColorPrimaryPrimary700: hsl(219%, 100%, 44%);
  --brandAColorPrimaryPrimary800: hsl(219%, 85%, 42%);
  --brandAColorRedRed100: hsl(355%, 86%, 97%);
  --brandAColorRedRed600: hsl(356%, 85%, 43%);
  --brandAColorWhite: hsl(0%, 0%, 100%);
  --brandAColorNeutralNeutral100Opaque: hsla(224%, 37%, 12%, 0.02);
  --brandAColorNeutralNeutral200Opaque: hsla(224%, 62%, 25%, 0.04);
  --brandAColorNeutralNeutral400: hsl(223%, 15%, 44%);
  --brandAColorNeutralNeutral500: hsl(222%, 22%, 82%);
  --brandAColorNeutralNeutral900: hsl(224%, 22%, 10%);
  --brandAColorGreenGreen100: hsl(155%, 90%, 96%);
  --brandAColorGreenGreen600: hsl(134%, 92%, 24%);
  --brandAColorPurplePurple100: hsl(257%, 73%, 97%);
  --brandAColorPurplePurple600: hsl(263%, 76%, 60%);
  --brandAColorPurplePurple700: hsl(266%, 63%, 46%);
  --brandAColorOrangeOrange100: hsl(41%, 90%, 96%);
  --brandAColorOrangeOrange200: hsl(36%, 87%, 88%);
  --brandAColorOrangeOrange500: hsl(23%, 100%, 40%);
  --brandAColorOrangeOrange600: hsl(18%, 90%, 37%);
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --brandAColor0001: hsl(0%, 0%, 100%);
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --brandAColor0002: hsl(0%, 49%, 39%);
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --brandAColor0003: hsl(63%, 55%, 42%);
  --brandAColorPaletteGreenGreen1100: hsl(160%, 50%, 11%);
  --brandAColorPaletteGreenGreen1000: hsl(152%, 40%, 18%);
  --brandAColorPaletteGreenGreen900: hsl(143%, 40%, 29%);
  --brandAColorPaletteGreenGreen800: hsl(133%, 39%, 38%);
  --brandAColorPaletteGreenGreen700: hsl(130%, 37%, 47%);
  --brandAColorPaletteGreenGreen600: hsl(125%, 36%, 53%);
  --brandAColorPaletteGreenGreen500: hsl(109%, 46%, 59%);
  --brandAColorPaletteGreenGreen400: hsl(105%, 58%, 66%);
  --brandAColorPaletteGreenGreen300: hsl(106%, 56%, 74%);
  --brandAColorPaletteGreenGreen200: hsl(107%, 60%, 85%);
  --brandAColorPaletteGreenGreen100: hsl(111%, 52%, 90%);
  --brandAColorPaletteGreenGreen0: hsl(111%, 52%, 95%);
  --brandAColorPaletteBlueBlue1100: hsl(209%, 74%, 12%);
  --brandAColorPaletteBlueBlue1000: hsl(211%, 59%, 23%);
  --brandAColorPaletteBlueBlue900: hsl(209%, 57%, 33%);
  /* This is our new main color :) */
  --brandAColorPaletteBlueBlue800: hsl(209%, 55%, 42%);
  --brandAColorPaletteBlueBlue700: hsl(211%, 53%, 48%);
  --brandAColorPaletteBlueBlue600: hsl(211%, 58%, 54%);
  --brandAColorPaletteBlueBlue500: hsl(210%, 67%, 59%);
  --brandAColorPaletteBlueBlue400: hsl(210%, 81%, 68%);
  --brandAColorPaletteBlueBlue300: hsl(208%, 77%, 81%);
  --brandAColorPaletteBlueBlue200: hsl(209%, 73%, 89%);
  --brandAColorPaletteBlueBlue100: hsl(206%, 94%, 94%);
  --brandAColorPaletteBlueBlue0: hsl(199%, 90%, 96%);
  /* Darkest aqua there is */
  --brandAColorPaletteAquaAqua1100: hsl(202%, 67%, 13%);
  /* Slightly less aquatic, still deep as an ocean */
  --brandAColorPaletteAquaAqua1000: hsl(200%, 51%, 20%);
  --brandAColorPaletteAquaAqua900: hsl(196%, 50%, 30%);
  --brandAColorPaletteAquaAqua800: hsl(196%, 45%, 35%);
  --brandAColorPaletteAquaAqua700: hsl(192%, 44%, 41%);
  --brandAColorPaletteAquaAqua600: hsl(193%, 44%, 47%);
  --brandAColorPaletteAquaAqua500: hsl(191%, 53%, 56%);
  --brandAColorPaletteAquaAqua400: hsl(186%, 65%, 65%);
  --brandAColorPaletteAquaAqua300: hsl(179%, 58%, 73%);
  --brandAColorPaletteAquaAqua200: hsl(181%, 68%, 83%);
  --brandAColorPaletteAquaAqua100: hsl(182%, 74%, 89%);
  --brandAColorPaletteAquaAqua0: hsl(180%, 77%, 93%);
  --brandAColorPalettePurplePurple1100: hsl(238%, 30%, 16%);
  --brandAColorPalettePurplePurple1000: hsl(245%, 46%, 28%);
  --brandAColorPalettePurplePurple900: hsl(245%, 42%, 42%);
  --brandAColorPalettePurplePurple800: hsl(245%, 40%, 51%);
  --brandAColorPalettePurplePurple700: hsl(245%, 51%, 59%);
  --brandAColorPalettePurplePurple600: hsl(245%, 66%, 67%);
  --brandAColorPalettePurplePurple500: hsl(245%, 74%, 72%);
  --brandAColorPalettePurplePurple400: hsl(246%, 69%, 75%);
  --brandAColorPalettePurplePurple300: hsl(238%, 68%, 85%);
  --brandAColorPalettePurplePurple200: hsl(240%, 63%, 91%);
  --brandAColorPalettePurplePurple100: hsl(240%, 50%, 95%);
  --brandAColorPalettePurplePurple0: hsl(240%, 31%, 96%);
  --brandAColorPaletteNeutralNeutral1100: hsl(0%, 0%, 2%);
  --brandAColorPaletteNeutralNeutral1000: hsl(180%, 14%, 11%);
  --brandAColorPaletteNeutralNeutral900: hsl(180%, 11%, 18%);
  --brandAColorPaletteNeutralNeutral800: hsl(180%, 7%, 24%);
  --brandAColorPaletteNeutralNeutral700: hsl(185%, 6%, 35%);
  --brandAColorPaletteNeutralNeutral600: hsl(185%, 4%, 46%);
  --brandAColorPaletteNeutralNeutral500: hsl(188%, 4%, 59%);
  --brandAColorPaletteNeutralNeutral400: hsl(190%, 4%, 71%);
  --brandAColorPaletteNeutralNeutral300: hsl(180%, 3%, 79%);
  --brandAColorPaletteNeutralNeutral200: hsl(180%, 3%, 88%);
  --brandAColorPaletteNeutralNeutral100: hsl(180%, 4%, 96%);
  --brandAColorPaletteNeutralNeutral0: hsl(0%, 0%, 100%);
  --brandAColorPaletteTealTeal1100: hsl(187%, 56%, 10%);
  --brandAColorPaletteTealTeal1000: hsl(180%, 39%, 17%);
  --brandAColorPaletteTealTeal900: hsl(177%, 41%, 28%);
  --brandAColorPaletteTealTeal800: hsl(181%, 40%, 35%);
  --brandAColorPaletteTealTeal700: hsl(176%, 38%, 42%);
  --brandAColorPaletteTealTeal600: hsl(174%, 38%, 47%);
  --brandAColorPaletteTealTeal500: hsl(171%, 46%, 55%);
  --brandAColorPaletteTealTeal400: hsl(168%, 63%, 64%);
  --brandAColorPaletteTealTeal300: hsl(166%, 63%, 75%);
  --brandAColorPaletteTealTeal200: hsl(168%, 61%, 85%);
  --brandAColorPaletteTealTeal100: hsl(167%, 65%, 90%);
  --brandAColorPaletteTealTeal0: hsl(168%, 52%, 94%);
  --brandAColorPalettePinkPink1100: hsl(327%, 25%, 13%);
  --brandAColorPalettePinkPink1000: hsl(335%, 52%, 20%);
  --brandAColorPalettePinkPink900: hsl(340%, 56%, 34%);
  --brandAColorPalettePinkPink800: hsl(342%, 47%, 44%);
  --brandAColorPalettePinkPink700: hsl(343%, 48%, 51%);
  --brandAColorPalettePinkPink600: hsl(340%, 57%, 57%);
  --brandAColorPalettePinkPink500: hsl(340%, 65%, 63%);
  --brandAColorPalettePinkPink400: hsl(335%, 76%, 72%);
  --brandAColorPalettePinkPink300: hsl(334%, 75%, 78%);
  --brandAColorPalettePinkPink200: hsl(332%, 73%, 84%);
  --brandAColorPalettePinkPink100: hsl(329%, 63%, 92%);
  --brandAColorPalettePinkPink0: hsl(332%, 67%, 95%);
  --brandAColorPaletteRedRed1100: hsl(0%, 38%, 11%);
  --brandAColorPaletteRedRed1000: hsl(3%, 61%, 24%);
  --brandAColorPaletteRedRed900: hsl(3%, 56%, 36%);
  --brandAColorPaletteRedRed800: hsl(2%, 51%, 47%);
  --brandAColorPaletteRedRed700: hsl(3%, 56%, 53%);
  --brandAColorPaletteRedRed600: hsl(6%, 68%, 58%);
  --brandAColorPaletteRedRed500: hsl(7%, 73%, 63%);
  --brandAColorPaletteRedRed400: hsl(9%, 79%, 70%);
  --brandAColorPaletteRedRed300: hsl(9%, 77%, 76%);
  --brandAColorPaletteRedRed200: hsl(7%, 75%, 83%);
  --brandAColorPaletteRedRed100: hsl(7%, 73%, 90%);
  --brandAColorPaletteRedRed0: hsl(7%, 69%, 95%);
  --brandAColorPaletteOrangeOrange1100: hsl(11%, 47%, 11%);
  --brandAColorPaletteOrangeOrange1000: hsl(15%, 82%, 19%);
  --brandAColorPaletteOrangeOrange900: hsl(14%, 68%, 32%);
  --brandAColorPaletteOrangeOrange800: hsl(20%, 65%, 46%);
  --brandAColorPaletteOrangeOrange700: hsl(22%, 71%, 55%);
  --brandAColorPaletteOrangeOrange600: hsl(22%, 76%, 59%);
  --brandAColorPaletteOrangeOrange500: hsl(23%, 82%, 63%);
  --brandAColorPaletteOrangeOrange400: hsl(24%, 84%, 68%);
  /* This is our main color. And this description will show inside the documentation */
  --brandAColorPaletteOrangeOrange300: hsl(24%, 83%, 75%);
  --brandAColorPaletteOrangeOrange200: hsl(23%, 81%, 81%);
  --brandAColorPaletteOrangeOrange100: hsl(22%, 72%, 89%);
  --brandAColorPaletteOrangeOrange0: hsl(25%, 80%, 94%);
  --brandAColorPaletteYellowYellow1100: hsl(34%, 68%, 10%);
  --brandAColorPaletteYellowYellow1000: hsl(30%, 75%, 17%);
  --brandAColorPaletteYellowYellow900: hsl(27%, 63%, 33%);
  --brandAColorPaletteYellowYellow800: hsl(35%, 61%, 43%);
  --brandAColorPaletteYellowYellow700: hsl(39%, 65%, 52%);
  --brandAColorPaletteYellowYellow600: hsl(41%, 91%, 61%);
  --brandAColorPaletteYellowYellow500: hsl(45%, 93%, 64%);
  --brandAColorPaletteYellowYellow400: hsl(47%, 94%, 68%);
  --brandAColorPaletteYellowYellow300: hsl(47%, 94%, 74%);
  --brandAColorPaletteYellowYellow200: hsl(48%, 91%, 81%);
  --brandAColorPaletteYellowYellow100: hsl(41%, 84%, 90%);
  --brandAColorPaletteYellowYellow0: hsl(46%, 93%, 95%);
  --brandAColorPaletteMagentaMagenta1100: hsl(283%, 26%, 14%);
  --brandAColorPaletteMagentaMagenta1000: hsl(283%, 50%, 20%);
  --brandAColorPaletteMagentaMagenta900: hsl(288%, 46%, 31%);
  --brandAColorPaletteMagentaMagenta800: hsl(291%, 39%, 41%);
  --brandAColorPaletteMagentaMagenta700: hsl(298%, 36%, 47%);
  --brandAColorPaletteMagentaMagenta600: hsl(301%, 39%, 53%);
  --brandAColorPaletteMagentaMagenta500: hsl(295%, 56%, 63%);
  --brandAColorPaletteMagentaMagenta400: hsl(293%, 76%, 74%);
  --brandAColorPaletteMagentaMagenta300: hsl(289%, 64%, 81%);
  --brandAColorPaletteMagentaMagenta200: hsl(289%, 67%, 87%);
  --brandAColorPaletteMagentaMagenta100: hsl(287%, 68%, 94%);
  --brandAColorPaletteMagentaMagenta0: hsl(291%, 87%, 97%);
  --brandAColorSemanticWarningWarningBackground: hsl(0%, 0%, 100%);
  --brandAColorForegroundNeutral: var(--brandAColorNeutralNeutral900);
  --brandAColorForegroundPrimary: var(--brandAColorPrimaryPrimary800);
  --brandAColorForegroundCritical: var(--brandAColorRedRed600);
  --brandAColorForegroundWarning: var(--brandAColorOrangeOrange600);
  --brandAColorForegroundPositive: var(--brandAColorGreenGreen600);
  --brandAColorForegroundUpgrade: var(--brandAColorPurplePurple600);
  --brandAColorForegroundDisabled: var(--brandAColorNeutralNeutral500);
  --brandAColorBackgroundElevationBase: var(--brandAColorWhite);
  --brandAColorBackgroundElevationRaised: var(--brandAColorWhite);
  --brandAColorBackgroundElevationOverlay: var(--brandAColorWhite);
  --brandAColorBackgroundNeutral: var(--brandAColorNeutralNeutral200Opaque);
  --brandAColorBackgroundNeutralFaded: var(--brandAColorNeutralNeutral100Opaque);
  --brandAColorBackgroundPage: var(--brandAColorWhite);
  --brandAColorBackgroundPrimary: var(--brandAColorPrimaryPrimary800);
  --brandAColorBackgroundPrimaryHighlighted: var(--brandAColorPrimaryPrimary700);
  --brandAColorBackgroundPrimaryFaded: var(--brandAColorPrimaryPrimary200);
  --brandAColorBackgroundCriticalHighlighted: var(--brandAColorRedRed600);
  --brandAColorBackgroundCriticalFaded: var(--brandAColorRedRed100);
  --brandAColorBackgroundWarning: var(--brandAColorOrangeOrange500);
  --brandAColorBackgroundWarningHighlighted: var(--brandAColorOrangeOrange600);
  --brandAColorBackgroundWarningFaded: var(--brandAColorOrangeOrange100);
  --brandAColorBackgroundPositiveHighlighted: var(--brandAColorGreenGreen600);
  --brandAColorBackgroundPositiveFaded: var(--brandAColorGreenGreen100);
  --brandAColorBackgroundUpgrade: var(--brandAColorPurplePurple600);
  --brandAColorBackgroundUpgradeHighlighted: var(--brandAColorPurplePurple700);
  --brandAColorBackgroundUpgradeFaded: var(--brandAColorPurplePurple100);
  --brandAColorBackgroundDisabled: var(--brandAColorNeutralNeutral200Opaque);
  --brandAColorBackgroundDisabledFaded: var(--brandAColorNeutralNeutral100Opaque);
  --brandAColorBackgroundFocusHighlight: var(--brandAColorPrimaryPrimary400);
  --brandAColorBorderNeutral: var(--brandAColorNeutralNeutral500);
  --brandAColorBorderPrimary: var(--brandAColorPrimaryPrimary700);
  --brandAColorBorderPrimaryFaded: var(--brandAColorPrimaryPrimary400);
  --brandAColorBorderCritical: var(--brandAColorRedRed600);
  --brandAColorBorderWarning: var(--brandAColorOrangeOrange600);
  --brandAColorBorderWarningFaded: var(--brandAColorOrangeOrange200);
  --brandAColorBorderPositive: var(--brandAColorGreenGreen600);
  --brandAColorBorderUpgrade: var(--brandAColorPurplePurple700);
  --brandAColorBorderFocusFaded: var(--brandAColorPrimaryPrimary400);
  --brandAColorOnBackgroundNeutral: var(--brandAColorNeutralNeutral900);
  --brandAColorPersistentBlack: var(--brandAColorNeutralNeutral900);
  --brandAColorDecorativeBlueForeground: var(--brandAColorPrimaryPrimary600);
  --brandAColorDecorativeBlueBackground: var(--brandAColorPrimaryPrimary200);
  --brandAColorDecorativeBlueBorder: var(--brandAColorPrimaryPrimary400);
  --brandAColorDecorativeGreenForeground: var(--brandAColorGreenGreen600);
  --brandAColorDecorativeGreenBackground: var(--brandAColorGreenGreen100);
  --brandAColorOnBackgroundPrimary: var(--brandAColorWhite);
  --brandAColorOnBackgroundCritical: var(--brandAColorWhite);
  --brandAColorOnBackgroundWarning: var(--brandAColorWhite);
  --brandAColorOnBackgroundPositive: var(--brandAColorWhite);
  --brandAColorOnBackgroundUpgrade: var(--brandAColorWhite);
  --brandAColorPersistentWhite: var(--brandAColorWhite);
  --brandAColorDecorativePurpleForeground: var(--brandAColorPurplePurple600);
  --brandAColorDecorativePurpleBackground: var(--brandAColorPurplePurple100);
  --brandAColorDecorativeRedForeground: var(--brandAColorRedRed600);
  --brandAColorDecorativeRedBackground: var(--brandAColorRedRed100);
  /* Used for error backgrunds */
  --brandAColorSemanticErrorErrorBackground: var(--brandAColorPaletteRedRed100);
  --brandAColorSemanticErrorErrorBorder: var(--brandAColorPaletteRedRed600);
  --brandAColorSemanticErrorErrorColor: var(--brandAColorPaletteRedRed800);
  --brandAColorSemanticErrorErrorIcon: var(--brandAColorPaletteRedRed800);
  --brandAColorSemanticInfoInfoBackground: var(--brandAColorPaletteBlueBlue100);
  --brandAColorSemanticInfoInfoBorder: var(--brandAColorPaletteBlueBlue500);
  --brandAColorSemanticInfoInfoColor: var(--brandAColorPaletteBlueBlue700);
  --brandAColorSemanticInfoInfoIcon: var(--brandAColorPaletteBlueBlue800);
  --brandAColorSemanticOpportunityOpportunityBackground: var(--brandAColorPaletteTealTeal100);
  --brandAColorSemanticOpportunityOpportunityBorder: var(--brandAColorPaletteAquaAqua300);
  --brandAColorSemanticOpportunityOpportunityColor: var(--brandAColorPaletteAquaAqua800);
  --brandAColorSemanticOpportunityOpportunityIcon: var(--brandAColorPaletteAquaAqua700);
  --brandAColorSemanticPrimaryHoverInnactiveBackground: var(--brandAColorPaletteYellowYellow400);
  --brandAColorSemanticPrimaryPrimaryActiveBackground: var(--brandAColorPaletteYellowYellow600);
  --brandAColorSemanticPrimaryPrimaryBackground: var(--brandAColorPaletteYellowYellow500);
  --brandAColorSemanticPrimaryPrimaryBorder: var(--brandAColorPaletteYellowYellow600);
  --brandAColorSemanticPrimaryPrimaryColor: var(--brandAColorPaletteYellowYellow1100);
  --brandAColorSemanticPrimaryPrimaryHoverBackground: var(--brandAColorPaletteYellowYellow600);
  --brandAColorSemanticPrimaryPrimaryHoverColor: var(--brandAColorPaletteYellowYellow1000);
  --brandAColorSemanticPrimaryPrimaryInnactiveBackground: var(--brandAColorPaletteYellowYellow200);
  /* Some test description */
  --brandAColorSemanticSaleSale30Background: var(--brandAColorPaletteTealTeal500);
  --brandAColorSemanticSaleSale50Background: var(--brandAColorPalettePinkPink600);
  --brandAColorSemanticSaleSale70Background: var(--brandAColorPaletteYellowYellow600);
  --brandAColorSemanticSaleSaleColor: var(--brandAColorPaletteNeutralNeutral0);
  --brandAColorSemanticSuccessSuccessBackground: var(--brandAColorPaletteGreenGreen100);
  --brandAColorSemanticSuccessSuccessBorder: var(--brandAColorPaletteGreenGreen400);
  --brandAColorSemanticSuccessSuccessColor: var(--brandAColorPaletteGreenGreen900);
  --brandAColorSemanticSuccessSuccessIcon: var(--brandAColorPaletteGreenGreen800);
  --brandAColorSemanticTextTextBody: var(--brandAColorPaletteOrangeOrange1000);
  --brandAColorSemanticTextTextHeadline: var(--brandAColorPaletteOrangeOrange1100);
  --brandAColorSemanticTextTextInverse: var(--brandAColorPaletteNeutralNeutral0);
  --brandAColorSemanticTextTextSubtext: var(--brandAColorPaletteNeutralNeutral700);
  --brandAColorSemanticWarningWarningBorder: var(--brandAColorPaletteYellowYellow600);
  --brandAColorSemanticWarningWarningColor: var(--brandAColorPaletteYellowYellow900);
  --brandAColorSemanticWarningWarningIcon: var(--brandAColorPaletteYellowYellow800);
}