/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d9ab {
  --dimension-spacing-semantic-stack-gap: 0.063rem;
  --dimension-shadow-focus-ring-width: 0.188rem;
  --dimension-font-weight-bold: 40rem;
  --dimension-palette-magenta-number: 0rem;
  --dimension-example: 4rem;
}