/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d9ab {
  --space-spacing-0: 0rem;
  --space-spacing-2: 0.125rem;
  --space-spacing-4: 0.25rem;
  --space-spacing-8: 0.5rem;
  --space-spacing-12: 0.75rem;
  --space-spacing-16: 1rem;
  --space-spacing-20: 1.25rem;
  --space-spacing-24: 1.5rem;
  --space-spacing-28: 1.75rem;
  --space-spacing-32: 2rem;
  --space-spacing-36: 2.25rem;
  --space-spacing-40: 2.5rem;
}