/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --typographyH1: 700 57px/64px "Roboto";
  --typographyH2: 700 43px/50px "Roboto";
  --typographyH3: 700 32px/40px "Roboto";
  --typographyH4: 700 24px/32px "Roboto";
  --typographyH5: 700 21px/29px "Roboto";
  --typographyLargeLead: 400 24px/32px "Roboto";
  --typographyMediumLead: 400 21px/29px "Roboto";
  --typographyButtonLabel: 400 21px/29px "Roboto";
  --typographyParagraph: 400 18px/26px "Roboto";
  --typographySmallParagraph: 400 16px/24px "Roboto";
  --typographyTinyParagraph: 400 12px/24px "Roboto";
  --typographySale: 700 24px/34px "Roboto";
  /* typewriter font test */
  --typographyImpactLabel: 400 13px "Impact Label";
  /* importing test */
  --typographyPoppins: 400 13px "Poppins";
}