/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light {
  --color-foreground-neutral-faded: rgb(96, 105, 129);
  --color-foreground-placeholder: rgb(127, 134, 148);
  --color-background-neutral-highlighted: rgba(24, 45, 102, 0.08);
  --color-background-page-faded: rgb(250, 250, 250);
  --color-background-critical: rgb(226, 44, 44);
  --color-background-positive: rgb(17, 136, 80);
  --color-background-blur: rgba(255, 255, 255, 0.95);
  --color-background-blur-neutral: rgba(244, 245, 247, 0.95);
  --color-background-blur-neutral-highlighted: rgba(236, 237, 240, 0.95);
  --color-border-neutral-faded: rgb(236, 238, 243);
  --color-border-critical-faded: rgb(251, 213, 216);
  --color-border-positive-faded: rgb(205, 237, 213);
  --color-border-upgrade-faded: rgb(227, 219, 250);
  --color-border-disabled: rgb(223, 226, 234);
  --color-border-focus: rgb(69, 137, 255);
  --color-decorative-cyan-foreground: rgb(14, 116, 144);
  --color-decorative-cyan-background: rgb(213, 251, 254);
  --color-decorative-cyan-border: rgb(182, 233, 236);
  --color-decorative-fuchsia-foreground: rgb(183, 37, 203);
  --color-decorative-fuchsia-background: rgb(252, 240, 255);
  --color-decorative-fuchsia-border: rgb(243, 214, 249);
  --color-decorative-green-border: rgb(201, 230, 218);
  --color-decorative-grey-foreground: rgb(78, 83, 106);
  --color-decorative-grey-background: rgb(237, 239, 243);
  --color-decorative-grey-border: rgb(225, 228, 235);
  --color-decorative-light-grey-foreground: rgb(104, 113, 141);
  --color-decorative-light-grey-background: rgb(246, 247, 249);
  --color-decorative-light-grey-border: rgb(227, 228, 233);
  --color-decorative-orange-foreground: rgb(194, 65, 12);
  --color-decorative-orange-background: rgb(255, 242, 225);
  --color-decorative-orange-border: rgb(249, 219, 175);
  --color-decorative-pink-foreground: rgb(209, 35, 114);
  --color-decorative-pink-background: rgb(253, 240, 247);
  --color-decorative-pink-border: rgb(250, 214, 234);
  --color-decorative-purple-border: rgb(228, 219, 250);
  --color-decorative-red-border: rgb(252, 215, 218);
  --color-decorative-teal-foreground: rgb(16, 122, 113);
  --color-decorative-teal-background: rgb(226, 255, 248);
  --color-decorative-teal-border: rgb(202, 229, 223);
  --color-decorative-yellow-foreground: rgb(161, 98, 7);
  --color-decorative-yellow-background: rgb(255, 253, 231);
  --color-decorative-yellow-border: rgb(239, 233, 145);
  --color-primary-primary-200: rgb(237, 245, 255);
  --color-primary-primary-400: rgb(208, 226, 255);
  --color-primary-primary-500: rgb(140, 180, 255);
  --color-primary-primary-600: rgb(15, 98, 254);
  --color-primary-primary-700: rgb(0, 78, 225);
  --color-primary-primary-800: rgb(16, 79, 198);
  --color-red-red-100: rgb(254, 241, 242);
  --color-red-red-600: rgb(203, 16, 29);
  --color-white: rgb(255, 255, 255);
  --color-neutral-neutral-100-opaque: rgba(20, 26, 43, 0.02);
  --color-neutral-neutral-200-opaque: rgba(24, 45, 102, 0.04);
  --color-neutral-neutral-400: rgb(96, 105, 129);
  --color-neutral-neutral-500: rgb(199, 205, 219);
  --color-neutral-neutral-900: rgb(20, 23, 31);
  --color-green-green-100: rgb(235, 254, 246);
  --color-green-green-600: rgb(5, 117, 31);
  --color-purple-purple-100: rgb(245, 242, 253);
  --color-purple-purple-600: rgb(135, 76, 230);
  --color-purple-purple-700: rgb(106, 43, 191);
  --color-orange-orange-100: rgb(254, 248, 235);
  --color-orange-orange-200: rgb(251, 229, 197);
  --color-orange-orange-500: rgb(204, 77, 0);
  --color-orange-orange-600: rgb(181, 60, 10);
  --color-palette-green-green-1100: rgb(14, 42, 33);
  --color-palette-green-green-1000: rgb(28, 65, 48);
  --color-palette-green-green-900: rgb(45, 105, 68);
  --color-palette-green-green-800: rgb(60, 136, 77);
  --color-palette-green-green-700: rgb(76, 164, 90);
  --color-palette-green-green-600: rgb(90, 178, 97);
  --color-palette-green-green-500: rgb(120, 199, 103);
  --color-palette-green-green-400: rgb(143, 218, 117);
  --color-palette-green-green-300: rgb(169, 226, 151);
  --color-palette-green-green-200: rgb(204, 240, 194);
  --color-palette-green-green-100: rgb(221, 243, 217);
  --color-palette-green-green-0: rgb(238, 249, 236);
  --color-palette-blue-blue-1100: rgb(8, 32, 54);
  --color-palette-blue-blue-1000: rgb(24, 57, 93);
  --color-palette-blue-blue-900: rgb(36, 86, 133);
  /* This is our new main color :) */
  --color-palette-blue-blue-800: rgb(48, 108, 165);
  --color-palette-blue-blue-700: rgb(58, 121, 189);
  --color-palette-blue-blue-600: rgb(69, 135, 205);
  --color-palette-blue-blue-500: rgb(81, 150, 221);
  --color-palette-blue-blue-400: rgb(106, 172, 239);
  --color-palette-blue-blue-300: rgb(170, 210, 244);
  --color-palette-blue-blue-200: rgb(205, 227, 247);
  --color-palette-blue-blue-100: rgb(224, 241, 254);
  --color-palette-blue-blue-0: rgb(236, 248, 254);
  /* Darkest aqua there is */
  --color-palette-aqua-aqua-1100: rgb(11, 39, 55);
  /* Slightly less aquatic, still deep as an ocean */
  --color-palette-aqua-aqua-1000: rgb(25, 60, 77);
  --color-palette-aqua-aqua-900: rgb(38, 93, 113);
  --color-palette-aqua-aqua-800: rgb(49, 108, 130);
  --color-palette-aqua-aqua-700: rgb(58, 131, 150);
  --color-palette-aqua-aqua-600: rgb(66, 149, 171);
  --color-palette-aqua-aqua-500: rgb(84, 181, 203);
  --color-palette-aqua-aqua-400: rgb(106, 211, 223);
  --color-palette-aqua-aqua-300: rgb(145, 226, 225);
  --color-palette-aqua-aqua-200: rgb(181, 240, 241);
  --color-palette-aqua-aqua-100: rgb(208, 247, 248);
  --color-palette-aqua-aqua-0: rgb(224, 251, 251);
  --color-palette-purple-purple-1100: rgb(29, 30, 54);
  --color-palette-purple-purple-1000: rgb(43, 38, 103);
  --color-palette-purple-purple-900: rgb(69, 62, 150);
  --color-palette-purple-purple-800: rgb(90, 82, 180);
  --color-palette-purple-purple-700: rgb(107, 98, 204);
  --color-palette-purple-purple-600: rgb(125, 115, 226);
  --color-palette-purple-purple-500: rgb(141, 132, 237);
  --color-palette-purple-purple-400: rgb(158, 149, 236);
  --color-palette-purple-purple-300: rgb(192, 194, 243);
  --color-palette-purple-purple-200: rgb(216, 216, 246);
  --color-palette-purple-purple-100: rgb(234, 234, 248);
  --color-palette-purple-purple-0: rgb(242, 242, 248);
  --color-palette-neutral-neutral-1100: rgb(4, 4, 4);
  --color-palette-neutral-neutral-1000: rgb(24, 32, 32);
  --color-palette-neutral-neutral-900: rgb(41, 51, 51);
  --color-palette-neutral-neutral-800: rgb(56, 65, 65);
  --color-palette-neutral-neutral-700: rgb(84, 94, 95);
  --color-palette-neutral-neutral-600: rgb(112, 121, 122);
  --color-palette-neutral-neutral-500: rgb(147, 154, 155);
  --color-palette-neutral-neutral-400: rgb(177, 182, 183);
  --color-palette-neutral-neutral-300: rgb(201, 204, 204);
  --color-palette-neutral-neutral-200: rgb(223, 225, 225);
  --color-palette-neutral-neutral-100: rgb(243, 244, 244);
  --color-palette-neutral-neutral-0: rgb(255, 255, 255);
  --color-palette-teal-teal-1100: rgb(11, 36, 39);
  --color-palette-teal-teal-1000: rgb(27, 62, 62);
  --color-palette-teal-teal-900: rgb(42, 100, 97);
  --color-palette-teal-teal-800: rgb(53, 122, 123);
  --color-palette-teal-teal-700: rgb(66, 148, 142);
  --color-palette-teal-teal-600: rgb(74, 166, 156);
  --color-palette-teal-teal-500: rgb(88, 193, 178);
  --color-palette-teal-teal-400: rgb(106, 221, 198);
  --color-palette-teal-teal-300: rgb(151, 231, 213);
  --color-palette-teal-teal-200: rgb(192, 240, 230);
  --color-palette-teal-teal-100: rgb(213, 246, 239);
  --color-palette-teal-teal-0: rgb(233, 248, 245);
  --color-palette-pink-pink-1100: rgb(40, 24, 33);
  --color-palette-pink-pink-1000: rgb(79, 25, 48);
  --color-palette-pink-pink-900: rgb(135, 38, 71);
  --color-palette-pink-pink-800: rgb(164, 59, 91);
  --color-palette-pink-pink-700: rgb(190, 68, 102);
  --color-palette-pink-pink-600: rgb(207, 81, 124);
  --color-palette-pink-pink-500: rgb(222, 99, 139);
  --color-palette-pink-pink-400: rgb(238, 127, 173);
  --color-palette-pink-pink-300: rgb(241, 155, 192);
  --color-palette-pink-pink-200: rgb(244, 184, 212);
  --color-palette-pink-pink-100: rgb(247, 220, 234);
  --color-palette-pink-pink-0: rgb(251, 234, 242);
  --color-palette-red-red-1100: rgb(40, 18, 18);
  --color-palette-red-red-1000: rgb(100, 28, 24);
  --color-palette-red-red-900: rgb(141, 45, 40);
  --color-palette-red-red-800: rgb(182, 64, 59);
  --color-palette-red-red-700: rgb(202, 75, 69);
  --color-palette-red-red-600: rgb(220, 88, 74);
  --color-palette-red-red-500: rgb(229, 106, 91);
  --color-palette-red-red-400: rgb(239, 134, 116);
  --color-palette-red-red-300: rgb(241, 161, 147);
  --color-palette-red-red-200: rgb(244, 187, 179);
  --color-palette-red-red-100: rgb(248, 215, 211);
  --color-palette-red-red-0: rgb(251, 235, 233);
  --color-palette-orange-orange-1100: rgb(42, 20, 15);
  --color-palette-orange-orange-1000: rgb(88, 29, 9);
  --color-palette-orange-orange-900: rgb(138, 52, 26);
  --color-palette-orange-orange-800: rgb(191, 92, 41);
  --color-palette-orange-orange-700: rgb(222, 118, 58);
  --color-palette-orange-orange-600: rgb(230, 130, 70);
  --color-palette-orange-orange-500: rgb(238, 142, 83);
  --color-palette-orange-orange-400: rgb(242, 160, 105);
  /* This is our main color. And this description will show inside the documentation */
  --color-palette-orange-orange-300: rgb(244, 179, 136);
  --color-palette-orange-orange-200: rgb(246, 199, 169);
  --color-palette-orange-orange-100: rgb(247, 221, 206);
  --color-palette-orange-orange-0: rgb(252, 238, 228);
  --color-palette-yellow-yellow-1100: rgb(42, 27, 8);
  --color-palette-yellow-yellow-1000: rgb(78, 44, 11);
  --color-palette-yellow-yellow-900: rgb(139, 79, 31);
  --color-palette-yellow-yellow-800: rgb(176, 119, 42);
  --color-palette-yellow-yellow-700: rgb(212, 155, 53);
  --color-palette-yellow-yellow-600: rgb(246, 190, 65);
  --color-palette-yellow-yellow-500: rgb(248, 206, 76);
  --color-palette-yellow-yellow-400: rgb(250, 217, 97);
  --color-palette-yellow-yellow-300: rgb(251, 225, 127);
  --color-palette-yellow-yellow-200: rgb(251, 233, 164);
  --color-palette-yellow-yellow-100: rgb(251, 238, 209);
  --color-palette-yellow-yellow-0: rgb(254, 248, 228);
  --color-palette-magenta-magenta-1100: rgb(39, 26, 44);
  --color-palette-magenta-magenta-1000: rgb(63, 26, 78);
  --color-palette-magenta-magenta-900: rgb(100, 42, 115);
  --color-palette-magenta-magenta-800: rgb(133, 64, 145);
  --color-palette-magenta-magenta-700: rgb(160, 77, 163);
  --color-palette-magenta-magenta-600: rgb(182, 89, 180);
  --color-palette-magenta-magenta-500: rgb(204, 107, 213);
  --color-palette-magenta-magenta-400: rgb(227, 138, 239);
  --color-palette-magenta-magenta-300: rgb(227, 177, 238);
  --color-palette-magenta-magenta-200: rgb(236, 199, 244);
  --color-palette-magenta-magenta-100: rgb(245, 228, 250);
  --color-palette-magenta-magenta-0: rgb(252, 240, 254);
  --color-semantic-warning-warning-background: rgb(255, 255, 255);
  --color-foreground-neutral: var(--color-neutral-neutral-900);
  --color-foreground-primary: var(--color-primary-primary-800);
  --color-foreground-critical: var(--color-red-red-600);
  --color-foreground-warning: var(--color-orange-orange-600);
  --color-foreground-positive: var(--color-green-green-600);
  --color-foreground-upgrade: var(--color-purple-purple-600);
  --color-foreground-disabled: var(--color-neutral-neutral-500);
  --color-background-elevation-base: var(--color-white);
  --color-background-elevation-raised: var(--color-white);
  --color-background-elevation-overlay: var(--color-white);
  --color-background-neutral: var(--color-neutral-neutral-200-opaque);
  --color-background-neutral-faded: var(--color-neutral-neutral-100-opaque);
  --color-background-page: var(--color-white);
  --color-background-primary: var(--color-primary-primary-800);
  --color-background-primary-highlighted: var(--color-primary-primary-700);
  --color-background-primary-faded: var(--color-primary-primary-200);
  --color-background-critical-highlighted: var(--color-red-red-600);
  --color-background-critical-faded: var(--color-red-red-100);
  --color-background-warning: var(--color-orange-orange-500);
  --color-background-warning-highlighted: var(--color-orange-orange-600);
  --color-background-warning-faded: var(--color-orange-orange-100);
  --color-background-positive-highlighted: var(--color-green-green-600);
  --color-background-positive-faded: var(--color-green-green-100);
  --color-background-upgrade: var(--color-purple-purple-600);
  --color-background-upgrade-highlighted: var(--color-purple-purple-700);
  --color-background-upgrade-faded: var(--color-purple-purple-100);
  --color-background-disabled: var(--color-neutral-neutral-200-opaque);
  --color-background-disabled-faded: var(--color-neutral-neutral-100-opaque);
  --color-background-focus-highlight: var(--color-primary-primary-400);
  --color-border-neutral: var(--color-neutral-neutral-500);
  --color-border-primary: var(--color-primary-primary-700);
  --color-border-primary-faded: var(--color-primary-primary-400);
  --color-border-critical: var(--color-red-red-600);
  --color-border-warning: var(--color-orange-orange-600);
  --color-border-warning-faded: var(--color-orange-orange-200);
  --color-border-positive: var(--color-green-green-600);
  --color-border-upgrade: var(--color-purple-purple-700);
  --color-border-focus-faded: var(--color-primary-primary-400);
  --color-on-background-neutral: var(--color-neutral-neutral-900);
  --color-persistent-black: var(--color-neutral-neutral-900);
  --color-decorative-blue-foreground: var(--color-primary-primary-600);
  --color-decorative-blue-background: var(--color-primary-primary-200);
  --color-decorative-blue-border: var(--color-primary-primary-400);
  --color-decorative-green-foreground: var(--color-green-green-600);
  --color-decorative-green-background: var(--color-green-green-100);
  --color-on-background-primary: var(--color-white);
  --color-on-background-critical: var(--color-white);
  --color-on-background-warning: var(--color-white);
  --color-on-background-positive: var(--color-white);
  --color-on-background-upgrade: var(--color-white);
  --color-persistent-white: var(--color-white);
  --color-decorative-purple-foreground: var(--color-purple-purple-600);
  --color-decorative-purple-background: var(--color-purple-purple-100);
  --color-decorative-red-foreground: var(--color-red-red-600);
  --color-decorative-red-background: var(--color-red-red-100);
  /* Used for error backgrunds */
  --color-semantic-error-error-background: var(--color-palette-red-red-100);
  --color-semantic-error-error-border: var(--color-palette-red-red-600);
  --color-semantic-error-error-color: var(--color-palette-red-red-800);
  --color-semantic-error-error-icon: var(--color-palette-red-red-800);
  --color-semantic-info-info-background: var(--color-palette-blue-blue-100);
  --color-semantic-info-info-border: var(--color-palette-blue-blue-500);
  --color-semantic-info-info-color: var(--color-palette-blue-blue-700);
  --color-semantic-info-info-icon: var(--color-palette-blue-blue-800);
  --color-semantic-opportunity-opportunity-background: var(--color-palette-teal-teal-100);
  --color-semantic-opportunity-opportunity-border: var(--color-palette-aqua-aqua-300);
  --color-semantic-opportunity-opportunity-color: var(--color-palette-aqua-aqua-800);
  --color-semantic-opportunity-opportunity-icon: var(--color-palette-aqua-aqua-700);
  --color-semantic-primary-hover-innactive-background: var(--color-palette-yellow-yellow-400);
  --color-semantic-primary-primary-active-background: var(--color-palette-yellow-yellow-600);
  --color-semantic-primary-primary-background: var(--color-palette-yellow-yellow-500);
  --color-semantic-primary-primary-border: var(--color-palette-yellow-yellow-600);
  --color-semantic-primary-primary-color: var(--color-palette-yellow-yellow-1100);
  --color-semantic-primary-primary-hover-background: var(--color-palette-yellow-yellow-600);
  --color-semantic-primary-primary-hover-color: var(--color-palette-yellow-yellow-1000);
  --color-semantic-primary-primary-innactive-background: var(--color-palette-yellow-yellow-200);
  /* Some test description */
  --color-semantic-sale-sale30-background: var(--color-palette-teal-teal-500);
  --color-semantic-sale-sale50-background: var(--color-palette-pink-pink-600);
  --color-semantic-sale-sale70-background: var(--color-palette-yellow-yellow-600);
  --color-semantic-sale-sale-color: var(--color-palette-neutral-neutral-0);
  --color-semantic-success-success-background: var(--color-palette-green-green-100);
  --color-semantic-success-success-border: var(--color-palette-green-green-400);
  --color-semantic-success-success-color: var(--color-palette-green-green-900);
  --color-semantic-success-success-icon: var(--color-palette-green-green-800);
  --color-semantic-text-text-body: var(--color-palette-orange-orange-1000);
  --color-semantic-text-text-headline: var(--color-palette-orange-orange-1100);
  --color-semantic-text-text-inverse: var(--color-palette-neutral-neutral-0);
  --color-semantic-text-text-subtext: var(--color-palette-neutral-neutral-700);
  --color-semantic-warning-warning-border: var(--color-palette-yellow-yellow-600);
  --color-semantic-warning-warning-color: var(--color-palette-yellow-yellow-900);
  --color-semantic-warning-warning-icon: var(--color-palette-yellow-yellow-800);
}