/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  /* No radius */
  --borderRadiusBorderRadiusNone: 0px;
  --borderRadiusBorderRadiusSmall: 3px;
  --borderRadiusBorderRadiusDefault: 5px;
  --borderRadiusBorderRadiusMedium: 7px;
  --borderRadiusBorderRadiusLarge: 12px;
  /* Essentially a circle */
  --borderRadiusBorderRadiusFull: 999px;
}