/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --spaceSpacing0: 0px;
  --spaceSpacing2: 2px;
  --spaceSpacing4: 4px;
  --spaceSpacing8: 8px;
  --spaceSpacing12: 12px;
  --spaceSpacing16: 16px;
  --spaceSpacing20: 20px;
  --spaceSpacing24: 24px;
  --spaceSpacing28: 28px;
  --spaceSpacing32: 32px;
  --spaceSpacing36: 36px;
  --spaceSpacing40: 40px;
}