/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --brandATypographyH1: 700 57px/64px "Roboto";
  --brandATypographyH2: 700 43px/50px "Roboto";
  --brandATypographyH3: 700 32px/40px "Roboto";
  --brandATypographyH4: 700 24px/32px "Roboto";
  --brandATypographyH5: 700 21px/29px "Roboto";
  --brandATypographyLargeLead: 400 24px/32px "Roboto";
  --brandATypographyMediumLead: 400 21px/29px "Roboto";
  --brandATypographyButtonLabel: 400 21px/29px "Roboto";
  --brandATypographyParagraph: 400 18px/26px "Roboto";
  --brandATypographySmallParagraph: 400 16px/24px "Roboto";
  --brandATypographyTinyParagraph: 400 12px/24px "Roboto";
  --brandATypographySale: 700 24px/34px "Roboto";
}